!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title= @title
    %link{:href => "/stylesheets/screen.css", :rel => "stylesheet"}/
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/jquery.inview.js"}
    %script{:src => "/javascripts/loading-images.js"}
    %script{:src => "/javascripts/nav.js"}

    /[if IE]
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    =render 'shared/header'

    = yield

    %footer
      %p footer
