-@title = "welcome to suitless!"

%section.layout-fp
  = image "home-1"
%section.layout-fp.bg-white-95
%section.layout-fp.two-files
  .a-file
    .row-1
    .row-2.bg-white-95.animated-image
  .b-file.bg-white-85.animated-image
%section.layout-fp
%section.layout-fp
%section.layout-fp


= image "home-2"

= image "home-3", :class => 'animated-image'
