-@title = "welcome to suitless!"

%section.layout-fp
  = image "home-1"
%section.layout-fp.bg-white-95
%section.layout-fp.two-files-55-45
  .a-file
    .row-1
    .row-2.bg-white-95.animated-image
  .b-file.bg-white-85.animated-image
%section.layout-fp.two-files-50-50
  .a-file
    .row-1.bg-white-50
    .row-2
  .b-file
    .row-1
    .row-2.bg-white-95
%section.layout-fp.bg-white-10.two-files-33-66
  .a-file.bg-white-5
  .b-file
%section.layout-fp.bg-white-95
