-@title = "welcome to suitless!"

%section.layout-fp.home-1

%section.layout-fp.home-2.bg-white-95.text-center
  %p.intro We provide HR Tax and law to well-funded, 5-to-500-person companies to support brand, talent, and culture. Unlike bloated firms or ninny consultants, we support rapid-growth businesses with lean execution and low overhead.
  %span.short-divider
  %p Our process is simple.

%section.layout-fp-70.home-3.two-files-55-45
  .a-file
    .row-1
    .row-2.bg-white-95
      %p
        %span.bold Reaching Suitless is easy. 
        Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh.
  .b-file.bg-white-85.animated-image

%div.blue-banner
  
%section.layout-fp-70.home-4.two-files-50-50
  .a-file
    .row-1.animated-image
    
    .row-2
  .b-file
    .row-1
    .row-2.bg-white-95.animated-image

%section.layout-fp.home-5.bg-white-10.two-files-33-66
  .a-file.bg-white-5
  .b-file

%section.layout-fp.home-6.bg-white-95.animated-image
