* { box-sizing: border-box }

//////// CLEARFIX SHIT /////////
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}

//////// image loading SHIT /////////
.animated-image {
  margin-top:50px;
  opacity:0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}