body > header {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:44px;
  background-color:rgba(0,0,0,.8);
  color:#fff;
  padding:10px;
  ////////////// imports
  @import "partials/site-nav";
}