///// needs abstraction //////

body p {
  position:relative;
} 

.step-header {
  position: absolute;
  text-align: center;
  top:30%;
}

///// needs abstraction end //////

.row-1, .row-2 {
  position:relative;
}

.home-1 {
  background-image:url('/images/home-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-2 {
  p:first-child {
    width:890px;
    margin:auto;
    top:30%;
  }
  p:nth-of-type(2) {
    top:50%;
  }
}
.home-3 {
  .a-file {
    .row-1 {
      .step-header {
        width: 200px;
        left: 50%;
        margin-left: -100px;
      }
    }
    .row-2 {
      p {
        max-width:365px;
        position: absolute;
        right: 140px;
        top: 30%;    
      }
    }
  }
  .b-file {
    background-image:url('/images/skateboard-keyboard.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.blue-banner {
  width:100%;
  height:225px;
  background-color:#0497e7;
  padding: 5% 16%;
}
.home-4 {
  .a-file {
    .row-1 {
      background-image:url('/images/quick-consult.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .b-file {
    .row-2 {
      background-image:url('/images/on-a-chair.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.home-5 {
  .text-holder {
    width:700px;
    margin:auto;
    padding:48px 0 0 0;
    ul {
      width:100%;
      li {
        width:33%;
        float:left;
        padding:0 15px;
      }
    }
  }
}
.home-6 {
  background-image:url('/images/beard-book.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .text-holder {
    width:420px;
    margin:auto;
    padding:4% 0 0 0;
  }
}
